# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file
version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    reviewers:
      - "openkcm/go-maintainers"
    schedule:
      interval: weekly
    groups:
      gomod-group:
        applies-to: version-updates
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
    open-pull-requests-limit: 5
  - package-ecosystem: docker
    directory: /
    reviewers:
      - "openkcm/go-maintainers"
    schedule:
      interval: daily
  - package-ecosystem: "github-actions"
    directory: "/"
    reviewers:
      - "openkcm/go-maintainers"
    schedule:
      interval: "daily"
