.git/
.github/
.idea/
.pipeline/
api/
charts/
cover/
integration/
.dir-locals.el
.dockerignore
.env.*
.env
.gitignore
.gitmodules
.golangci.yml
.projectile
config.yaml
cover.out
Dockerfile
Dockerfile.dev
Makefile
README.md
sonar-project.properties
VERSION
