apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "session-manager.name" . }}-config
  labels:
    {{- include "session-manager.labels" . | nindent 4 }}
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/weight: "-1"
    helm.sh/hook-delete-policy: before-hook-creation
immutable: {{ .Values.config.isImmutable | default false }}
data:
  config.yaml: |-
    # Based on github.com/openkcm/common-sdk/pkg/commoncfg
    application:
      name: {{ .Chart.Name }}
    {{- with .Values.config }}
      environment: {{ .environment }}
      {{- with .labels }}
      labels:
        {{- toYaml . | nindent 8 }}
      {{- end }}

    audit:
      {{- toYaml .audit | nindent 6 }}

    http:
      {{- toYaml .http | nindent 6 }}

    grpc:
      {{- toYaml .grpc | nindent 6 }}

    status:
      {{- toYaml .status | nindent 6 }}

    logger:
      {{- toYaml .logger | nindent 6 }}

    telemetry:
      {{- toYaml .telemetry | nindent 6 }}

    # Based on github.com/openkcm/session-manager/pkg/config
    database:
      {{- toYaml .database | nindent 6 }}

    valkey:
      {{- toYaml .valkey | nindent 6 }}

    sessionManager:
      {{- toYaml .sessionManager | nindent 6 }}

    migrate:
      {{- toYaml .migrate | nindent 6 }}
    {{- end }}
