name: Quality

name: Quality

on:
  push:
    tags:
      - v*
    branches:
      - main
    paths-ignore:
      - 'charts/**'
      - 'docs/**'
      - 'LICENSES/**'
      - '.releases/**'
      - '.github/**'
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  check:
    uses: openkcm/build/.github/workflows/ci.svc.yaml@main
    secrets: inherit
    with:
      run_makefile_tests: true
      run_task_tests: false

  helm-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'helm-tests/go.mod'

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: 'latest'

      - name: Run Helm unit tests
        run: make test-helm-unit

